header{
  font-family: 'Raleway', sans-serif;
  background-color: #cbed87;
  border-radius: 10px;
}
.linkedin{
  text-decoration: none;
  color: purple;
}
.linkedin:hover{
  color: blue;
  font-size: 18px;
}
section .container {
	margin-top: 131px;
}
body{
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  margin: 0px 20px 20px 20px;
}
.parameters{
  font-family: 'Hind', sans-serif;
  font-size: 23px
}
header div .nav-brand {
	margin: 20px 20px 10px 20px;
	font-size: 35px;
}
#mihir{
  margin: 20px 20px 10px 20px;
  font-size: 35px;
}
#mail{
  margin: 0px 0px 0px 20px;
}
.link_project{
  text-decoration: none;
  color:blue;
}
.guides{
  font-size: 14px;
  font-style: italic;
}
.link_project:hover{
  font-size: 17px;
  color: purple;
}
.school{
}
