* {
  color: white;
  background-color: black;
}
/*HEADER*/
/*------------------------------------------------------------------------------------------------------------------------*/
header.navbar.navbar-fixed-top.navbar-default {
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
  color: white;
  background-color: black;
}
header a.navbar-brand {
	 font-size: 25px;
   color: white;
   background-color: black;
}
header a.linkedin{
  text-decoration: none;
  color: purple;
}
header a.linkedin:hover{
  color: blue;
  font-size: 18px;
}
/*BODY*/
/*------------------------------------------------------------------------------------------------------------------------*/
html {
  color: white;
  background-color: black;
}
body {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  background-color: black !important;
}
p {
  color: white;
  background-color: black;
}
h3 {
  color: white;
  background-color: black;
}
.container {
  margin: 0;
  padding: 0;
}
/*SECTION*/
/*------------------------------------------------------------------------------------------------------------------------*/
section.container {
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
}
section h3.parameters{
	font-family: 'Quicksand', sans-serif;
	
}
section p.guides {
  font-style: italic;
}
section a.link_project{
  text-decoration: none;
  color: blue;
}
section a.link_project:hover{
	font-size: 15px;
  color: purple;
}